*.class
*.log

#.gitignore
#.gitignore

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.gz

# eclipse ignore
.settings/
.project
.classpath
.metadata

# idea ignore
.idea/
*.ipr
*.iml
*.iws
